@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;700&display=swap");

:root {
  --color-primary-hue: 252;
  --color-light-lightness: 95%;
  --color-white-lightness: 100%;
  --color-dark-lightness: 17%;

  --color-white: hsl(
    var(--color-primary-hue),
    30%,
    var(--color-white-lightness)
  );
  --color-light: hsl(
    var(--color-primary-hue),
    30%,
    var(--color-light-lightness)
  );
  --color-grey: hsl(var(--color-primary-hue), 15%, 65%);
  --color-primary: hsl(var(--color-primary-hue), 75%, 60%);
  --color-secondary: hsl(var(--color-primary-hue), 100%, 90%);
  --color-success: hsl(120, 95%, 65%);
  --color-danger: hsl(0, 95%, 65%);
  --color-dark: hsl(var(--color-primary-hue), 30%, var(--color-dark-lightness));
  --color-black: hsl(var(--color-primary-hue), 30%, 10%);

  --border-radius: 2rem;
  --card-border-radius: 1rem;
  --photo-border-radius: 0.25rem;
  --btn-padding: 0.6rem 2rem;
  --search-padding: 0.6rem 1rem;
  --card-padding: 1rem;

  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  --transition: all 0.3s ease;

  --sticky-top-left: 5.4rem;
  --sticke-top-right: -18rem;
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
}

body {
  font-family: "Nunito", sans-serif;
  color: var(--color-dark);
  background-color: var(--color-light);
  overflow-x: hidden;
  min-height: 100%;
}

header {
  background-size: cover;
}

main {
  background: var(--color-white);
}

/*-----------------------------------*\
main
\*-----------------------------------*/

.main__bg {
  background: url(../../assets/img/hero/hero.jpg);
  background-size: cover;
  z-index: -100;
  opacity: 0.1;
}

section.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__title {
  color: var(--color-primary);
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  background-attachment: fixed;
}

.section__title {
  text-align: center;
  padding: 2rem 1rem;
  text-transform: uppercase;
  font-weight: var(--font-bold);
}

section {
  position: relative;
  display: block;
  padding-top: 5rem;
  padding-left: 7rem;
  min-height: 100vh;
  width: 100%;
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

section.back__section {
  z-index: 1;
}

section.active {
  z-index: 5;
  opacity: 1;
  animation: slideSections 0.1s ease;
}

@keyframes slideSections {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.section__bg {
  background: linear-gradient(
    145deg,
    var(--color-secondary),
    var(--color-white),
    var(--color-white),
    var(--color-white),
    var(--color-white),
    var(--color-white),
    var(--color-white),
    var(--color-white),
    var(--color-primary)
  );
}

.container,
.container__inner {
  margin: 0 auto;
  width: 100%;
}

.container {
  max-width: 1200px;
  position: relative;
  display: grid;
  grid-template-columns: 2fr 5fr 1fr;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.container__inner {
  max-width: 998px;
}

.container__inner ul li span {
  color: var(--color-dark);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem 0.75rem 7rem;
  z-index: 9;
  opacity: 0.95;
  transition: var(--transition);
  color: var(--color-white);
  box-shadow: 0 0 0.4rem var(--color-primary);
}

.brand {
  display: flex;
  flex-wrap: nowrap;
  font-size: 1.75rem;
  font-weight: var(--font-bold);
  color: var(--color-primary);
}

.brand:hover {
  color: var(--color-primary);
}

nav .container__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

nav .container ul {
  width: 100%;
  margin: 0 1rem;
}

nav .topNav li a.active .link_names {
  color: var(--color-primary);
}

nav .container i {
  color: var(--color-dark);
  font-weight: var(--font-bold);
  font-size: 1.75rem;
}

nav .container ul:nth-child(2) {
  text-align: right;
}

nav .container ul li {
  display: inline-block;
  margin: 0 0.5rem;
}

nav a {
  text-decoration: none;
  font-size: 1rem;
  transition: var(--transition);
  font-weight: var(--font-semi-bold);
  color: var(--color-dark);
}

nav a:hover {
  color: var(--color-primary);
}

.input__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
}

nav i {
  font-size: 1rem;
  cursor: pointer;
  transition: var(--transition);
  text-align: right;
}

nav i:hover {
  color: var(--color-primary);
}

.menu {
  background: var(--color-white);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  height: 0;
  opacity: 0;
  transition: var(--transition);
  overflow-y: hidden;
}

.logo {
  width: 3rem;
  border-radius: 50%;
}

.menu ul {
  margin: 1rem auto;
}

.menu li {
  margin: 1rem 0;
}

.menu > div {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  height: 100%;
  overflow-y: scroll;
}

.menu > div::-webkit-scrollbar {
  display: none;
}

.menu .social__media {
  margin: 2rem 0;
}

.social__media {
  display: inline-block;
  margin: 0 0.5rem;
}

.menu__open {
  height: 100vh;
  opacity: 1;
}

.navbar__active {
  backdrop-filter: blur(10px);
  background: linear-gradient(
    145deg,
    var(--color-secondary),
    var(--color-white),
    var(--color-white),
    var(--color-white)
  );
}

.navbar {
  opacity: 0.85;
  backdrop-filter: blur(10px);
}

@media screen and (max-width: 475px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  nav .container .brand,
  .container__inner ul li span {
    display: none;
  }
}

@media screen and (min-width: 998px) {
  .navbar .container {
    grid-template-columns: 2fr 7fr;
  }

  .navbar .container i {
    display: none;
  }
}

@media screen and (max-width: 998px) {
  .navbar .brand {
    font-size: 1rem;
  }

  .navbar {
    opacity: 0.95;
  }

  .container__inner .topNav {
    display: none;
  }
}
